# Specify filepatterns you want git to ignore.

.vs/
Build/
Library/
obj/
Packages/
ProjectSettings/
Assets/NGUI/
Assets/Resources/
Assets/WebRtcVideoChat/

.collabignore
*.csproj
*.sln
*.meta

stats.txt
trial-log.txt